@tailwind base;
@tailwind components;
@tailwind utilities;


@layer componets {
    .br-shape {
    clip-path: polygon(58% 0, 91% 18%, 91% 83%, 46% 100%, 12% 92%, 8% 28%, 26% 5%);
}


        .shape{
            clip-path: polygon(0 0, 75% 0%, 100% 0, 100% 98%, 25% 100%, 0 96%);
    }
    } 

